@charset "utf-8";
/* CSS Document */
body{ background-color: #999;} 
main{
margin: auto;

}
header{
margin: auto;
font-size:24px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-color: #FFF;
background-color: #EBEBEB;
border-radius: 3px;
padding: 8px;
width: 1000px;
height:auto;
border box: 30px;
}
	
nav{
margin: auto;
font-size:20px;
font-color: white;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
background-color: #000;
border-radius: 3px;
color:#666666;
padding: 5px;
width: 1000px;
height:70px;
border box: 30px;
}
aside{
margin:auto;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
background-color: #000;
border-radius: 3px;
padding: 5px;
width: 1000px;
height: 650px;
border box: 30px;
}
	



