@charset "utf-8";
/* CSS Document */
body{ background-color: #99CCFF; box-sizing: border-box;} 
form{
margin: auto;
background-color: white;
border-radius: 3px;
color:#666666;
padding: 10px;
width: 300px;
}
h1{
font-family: Verdana, Arial, Helvetica, sans-serif; 
}
	
input{width:250px;

height:20px;
border:blue 2px double;
border-radius: 40px;}

